@import '../../../styles/globalBorders/borders.scss';
@import '../../../styles/globalColors/color.scss';

.input {
    width: 359px;
    border-radius: $large;
    border: 1px solid $dark4;
    padding: 18px;
    background-color: #232323;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}

.input:focus {
    border: 1px solid $mainColor;
    outline: none;
}


.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff;
    transition: background-color none;
    box-shadow: none;
}

.label {
    color: #D5CFEB;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
}

.container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}