@import '../../styles/globalColors/color.scss';

.main {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: $dark3;
    padding: 14px 48px;
    position: fixed;
    top:0;
    z-index:10;
}
