@import "../../../styles/globalColors/color.scss";
@import "../../../styles/globalBorders/borders.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 10px 0 30px 0;
}
.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 31px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}

.image {
  border-radius: $medium;
}

.upload {
  border: 0.797px solid #fff;
  width: 168px;
  height: 140px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploader[type="file"] {
  display: none;
}

.label {
  cursor: pointer;
}

.textarea {
  background-color: $dark3;
  border-radius: $large;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding: 16px 20px;
  width: 658px;
  height: 198px;
  outline: none;
  border: none;
  resize: none;

  &::placeholder {
    color: #d5cfeb;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
  }
}

.button {
  width: 212px;
}

.uploadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.fileContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.options {
  background-color: $dark3;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.select {
  background-color: $dark3;
  border-radius: 12px;
  border: 1px solid $dark4;
  padding: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  width: 359px;
}
.error {
  border: 1px solid $error !important;
}

.errorMessage {
  color: $error;
  font-size: 14px;
  font-weight: 500;
}
