.container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.CardInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.txt1 {
  color: var(--Colors-Text-TextPrimary, #fff);
  font-size: 28px;
  font-weight: 500;
}
.txt2 {
  color: var(--Colors-Text-Text-Secodary, #d5cfeb);
  font-size: 20px;
  font-weight: 600;
}
