$mainColor: #2BD9A8;
$darker:#232323;
$lighter:#D5CFEB;
$subtle:#94D4A4;
$error:#FF384B;
$warning:#FFD002;
$info:#1673FF;
$success:#06C270;
$dark1:#0D0D0D;
$dark2:#302D40;
$dark3:#232323;
$dark4:#D5CFEB;