@import '../../../styles/globalColors/color.scss';

.navList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.active {
    background-color: $dark2;
    padding: 12px 8px;
    border-radius: 8px;
    width: 264px;
}



