@import '../../../styles/globalColors/color.scss';
@import '../../../styles/globalBorders/borders.scss';

.navList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.navItem {
    display: flex;
    align-items: center;
    gap: 12px;

}

.navLink {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.navLink:hover{
    background-color: $dark2;
    padding: 12px 8px;
    border-radius: $small;
    width: 264px;
}

.navLink:active {
    background-color: $dark2;
    padding: 12px 8px;
    border-radius: $small;
    width: 264px;  
}

.active {
    background-color: $dark2;
    padding: 12px 8px;
    border-radius: $small;
    width: 264px;
}

